@import 'src/assets/scss/helpers/app-variables';

.item {
  position: relative;
  background-color: $white;
  margin-bottom: 24px;
  width: 100%;
  height: 300px;
  display: flex;
  border-radius: 12px;
  overflow: hidden;

  .img-container {
    min-width: 400px;
    width: 400px;
    height: 100%;

    .img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: flex;
      align-items: center;
      justify-content: center;

      &.img-sub {
        background: $grey;
        opacity: .7;
        color: $white;
        font-size: 24px;
      }
    }
  }

  .info {
    padding: 12px;
    overflow: hidden;
    flex: 1;

    .info-title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 12px;

      .item-title-container {
        display: flex;
        align-items: center;

        .item-title {
          font-size: 24px;
          font-weight: 900;
        }

        .favorite {
          margin-left: 8px;

          .liked {
            background-color: lightcoral;
            color: $white;
          }
        }
      }

      .tags {
        display: flex;
        align-items: center;

        .cate-name {
          padding: 4px 8px;
          margin: 4px;
          background-color: $black;
          color: $white;
          border-radius: 12px;
        }
      }

    }

    .text {
      font-size: 16px;
      margin-bottom: 4px;

      .label {
        font-weight: 700;
      }

    }

    .info-row-edit {
      display: flex;
      align-items: flex-start;

      .label {
        margin-right: 8px;
      }
    }

    .introduction-textarea {
      resize: none;
    }

    .edit-btn-container {
      position: absolute;
      bottom: 12px;
      right: 12px;

      .btn {
        margin-left: 12px;
      }
    }
  }

}
