html,
body {
  width: 100%;
  background-color: #f4f4f4;
}

body {
  height: fit-content;
  background-color: #f4f4f4;
  color: #555;
  font-family: Microsoft JhengHei;
}

.btn {
  height: 36px;
  padding: 4px 12px;
  border-radius: 12px;

  &:hover {
    background-color: lightsalmon;
  }
}
